@charset "utf-8";
/* CSS Document */

body {
	font-family:Georgia, "Times New Roman", Times, serif;
}
html {
	background: url(../images/bg3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	height:101%;
}

#container {
	position:relative;
	margin:0 auto;
	margin-top:75px;
	width:960px;
	background-color: rgba(32,32,32,0.75);
	border:3px solid #EEE9E3;
	border-radius: 20px;
	padding:10px;
}

#title {
	/*border:2px solid #ADA99F;
	border-radius: 20px;
	background-color: #EEE9EF;*/
	width:100%;
	margin:0 auto;
	margin-top:10px;
	padding:5px 0px 7px 0px;
	color: #fff;
	text-align:center;
	opacity:1.0;
}

#title h1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:24px;
	letter-spacing:3px;
	opacity:1.0;
}

#subtitle {
	width:90%;
	text-align:center;
	margin:0 auto;
	color:#EEE9EF;
}

#subtitle h2 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	opacity:1.0;
}

#navigation {
	width:100%;
	height:25px;
	text-align:center;
	margin:0 auto;
	margin-top:15px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	background-color: rgba(128,128,128,0.75);
}

	#navigation a.hmenu, #navigation a.hmenu:link, #navigation a.hmenu:visited {
		display:block; 
		width:125px; 
		color:#fff; 
		text-decoration:none; 
		text-align:center; 
		line-height:25px;
		float:left;
	}

	#navigation a.hmenu:hover {
		background:#000; 
		color:#fff;
	}

	#navigation a.hmenu:active {
		background:#c00; 
		color:#fff;
	}

	#navigation:after { 
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility:hidden;
	}



#left {
	width:63%;
	max-width:63%;
	float:left;
	margin-left:10px;
	margin-top:10px;
	background-color: #EEE9EF;
	border:2px solid #ADA99F;
	border-radius:20px;
	padding:10px;
}
	
	#blog {
		margin-bottom:10px;
	}
	
	#blog_title {
		text-align:left;
		text-transform:capitalize;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:18px;
		color:#4D4C48;
	}
	
	#blog_author {
		text-align:left;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:12px;
		color: #4D4C48;
		margin-bottom:15px;
	}
	
	#blog_contents{
		font-size:18px;
		text-align:justify;
	}

.comment-item {
	margin-bottom:5px;
	padding:5px;
	border:1px solid #DDD9DF;
	border-radius:10px;
}

#comments {
		font-family:Tahoma, Geneva, sans-serif;
}

.admincomment {
	margin-bottom:5px;
	padding:5px;
	padding-bottom:25px;
	border:1px solid #DDD9DF;
	border-radius:10px;
	
}
	.admincommentbutton {
		width: 94px;
		color: white;
		background: transparent url(../login_panel/images/bt_register.png) no-repeat 0 0;
		display: block;
		float: right;
		height: 24px;
		text-align: center;
		cursor: pointer;
		border: none;
		font-weight: bold;
		margin: 10px 0;
		margin-top:-5px;
	}
#comments h2 {
	text-align:left;
	text-transform:capitalize;
	font-size:18px;
	color:#4D4C48;
}

.commenth2 {
	text-align:left;
	text-transform:capitalize;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:18px;
	color:#4D4C48;
}
.commentauthor {
	font-size:14px;
	color:#600;
	margin-right:5px;
}
.commentdate {
	font-size:12px;
	color:#666;
	margin-bottom:3px;
}

	#sendcomment {
		padding:0;
		margin-left:10px;
		margin-top:10px;
	}

	.commentinput {
		width:95%;
		background-color:#ccc;
		color:#333;
		border:1px solid black;
		height:100px;
	}
	.commentbutton {
		width: 94px;
		color: white;
		background: transparent url(../login_panel/images/bt_register.png) no-repeat 0 0;
		display: block;
		float: left;
		height: 24px;
		text-align: center;
		cursor: pointer;
		border: none;
		font-weight: bold;
		margin: 10px 0;
	}
	
	#sendcomment h2 {
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		color:#333;
	}
	
	.blogcontentinput {
		
	}
	textarea#comment_styled {
		width:98%;
		height:150px;
		overflow:auto;	
		background-color:#CCC;
		border-color:#333;
		color:#000;
		font-family:Tahoma, Geneva, sans-serif;
	}	

#right {
	margin-top:10px;
	margin-right:10px;
	padding:10px 0 10px 0;
	width:30%;
	height:84%;
	border:1px solid #ADA99F;
	border-radius:20px;
	background-color: #4D4C48;
	float:right;	
}
	
	#right h2 {
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		color:#EEE9EF;
		margin-left:10px;
	}

	#right a.bloglist, #right a.bloglist:link, #right a.bloglist:visited {
		color: #69C ;
		text-decoration:none; 
		font-family:Tahoma, Geneva, sans-serif;
	}
	
	#right a.bloglist:hover {
		color: #CCC ;
	}
	
	#right ul {
		margin-left:30px;
		margin-top:10px;
		list-style:disc;
		color:#fff;
	}

#shoutbox {
	margin-top:10px;
	margin-right:10px;
	padding:10px 0 10px 0;
	width:30%;
	height:84%;
	border:1px solid #ADA99F;
	border-radius:20px;
	background-color: #4D4C48;
	float:right;
	font-size:12px;
	color:#EEE9EF;
	margin-left:10px;
	clear:right;
}

	.shoutauthor {
		color:#69C;
	}
	#shoutbox h2 {
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		color:#EEE9EF;
		margin-left:10px;
	}
	#shoutbox span.shout_name {
		color:#CCC;
		padding-left:10px;
	}
	#shoutbox span.shout {
		color:#C90;
		line-height:14px;
		margin-left:20px;
		padding-right:10px;
		width:90%;
		float:right;
		margin-bottom:10px;
	}
	#sendshout {
		padding:0;
		margin-left:10px;
		margin-top:10px;
	}
	#sendshout h2 {
		margin:0;
	}
	.shoutinput {
		width:90%;
		background-color:#333;
		color:#c32;
		border:1px solid black;
		margin-left:10px;
	}
	.shoutbutton {
		width: 94px;
		color: white;
		background: transparent url(../login_panel/images/bt_register.png) no-repeat 0 0;
		display: block;
		float: left;
		height: 24px;
		text-align: center;
		cursor: pointer;
		border: none;
		font-weight: bold;
		margin: 10px 0 10px 10px;
	}

	.shout-item {
		margin-left:5px;
		padding:2px 5px 2px 5px;
	}	
	
.said {
		color:#CCC;
}


	.shoutout {
			margin-bottom:3px;
			padding:2px 0 2px 0;
			color:#69F;
	}

#sendshout {
	margin-top:10px;
	margin-right:10px;
	padding:10px 0 10px 0;
	width:30%;
	height:84%;
	border:1px solid #ADA99F;
	border-radius:20px;
	background-color: #4D4C48;
	float:right;
	font-size:12px;
	color:#EEE9EF;
	margin-left:10px;
	clear:right;
}
	#sendshout h2 {
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		color:#EEE9EF;
		margin-left:10px;
	}
.clear { clear: both; }

/* Styles specifically for the Admin Section */

#addPost label {
	text-transform:uppercase;
	margin-bottom:10px;
	display:block;
	width:200px;
	clear:right;
	float:left;	
}

.blogtitleinput {
	width:98%;
	background-color:#CCC;
	border-color:#333;
	color:#000;
	margin-bottom:10px;
}

.blogcontentinput {

}
textarea#bc_styled {
	width:98%;
	height:600px;
	overflow:scroll;
	background-color:#CCC;
	border-color:#333;
	color:#000;
	font-family:Tahoma, Geneva, sans-serif;
}
#logleft {
	width:95%;
	max-width:95%;
	float:left;
	margin-left:10px;
	margin-top:10px;
	background-color: #EEE9EF;
	border:2px solid #ADA99F;
	border-radius:20px;
	padding:10px;
}
	
	#log {
		margin-bottom:10px;
	}
	
	#loglist {
		font-family:"Courier New", Courier, monospace;
		font-size:12px;
	}

#hitcount {
	margin-bottom:10px;
	color:#06C;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
}